monitor/prometheus/data
monitor/grafana/grafana.db
monitor/grafana/png
monitor/node_exporter

redis/data
mysql/data

nacos/logs

elk/elasticsearch

skywalking/elasticsearch

postgresql/data

.DS_Store